.section {
  padding: 5rem 2rem;
  background-color: #def1f6;
  overflow: hidden;
  text-align: left;
}

.section-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.header-sub {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  left: 7rem;
}

.header-sub::before {
  content: "";
  width: 6.5rem;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  left: -7rem;
  top: calc(50% - 2px);
}

.head-primary {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--primary);
}

.head-secondary {
  color: var(--primary-light);
  text-transform: capitalize;
  font-size: 1.7rem;
  margin-top: -1rem;
  display: block;
}

.paragraph {
  color: rgb(66, 66, 66) !important;
  font-size: 1.1rem;
  text-align: justify;
}

.about-img {
  max-width: 100%;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
  transform: scale(1);
}

.about-img:hover {
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 550px) {
  .section {
    padding: 8rem 5rem;
  }

  .section-box {
    grid-template-columns: 1fr 1fr;
  }

  .head-primary {
    font-size: 4.5rem;
    letter-spacing: -2px;
  }

  .head-secondary {
    font-size: 3.5rem;
    margin-top: -1.8rem;
  }

  .about-img {
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
  }
}

@media screen and (min-width: 680px) {
  .head-secondary {
    font-size: 4rem;
  }

  .about-img {
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
}
